body {
  
    background-image: url("background.webp");

    background-repeat: no-repeat;
    background-size: 100% 500px;
    
   
   }

.content{
height: 200px;
margin-top: 80px;
display: flex;
justify-content: space-evenly;
}

h1{
    color: #43c947;
    text-align: center;

}


